extends pug_content/templates/main_template

prepend title
    | Tabla de horarios

mixin time_block_big_screen
    - var x = 0;
    while x < 24
        tr
            - x++;
            if x < 5
                td= '0' + (Math.round(x / 2) + 7) + ':' + ((x % 2 == 1) ? '00' : '30')
            else
                td= (Math.round(x / 2) + 7) + ':' + ((x % 2 == 1) ? '00' : '30')
            td 1
            td 2
            td 3
            td 4
            td 5
            td 6
            td 7

mixin xs_day_tab(name, index)
    - var active_day = 0;
    if(index == active_day)
        li.active
            a(href=("#" + name.toLowerCase()), data-toggle='tab')
                | #{name}
    else
        li
            a(href=("#" + name.toLowerCase()), data-toggle='tab')
                | #{name}

mixin time_block_small_screen(index)
    table.table.mobile-timetable
        thead
            tr
                th Hora
                th Personas
        tbody
            - var x = 0;
            while x < 24
                tr
                    - x++;
                    if x < 5
                        td= '0' + (Math.round(x / 2) + 7) + ':' + ((x % 2 == 1) ? '00' : '30')
                    else
                        td= (Math.round(x / 2) + 7) + ':' + ((x % 2 == 1) ? '00' : '30')
                    td Persona

block content
    .row
        .hidden-xs.visible-sm
            h2 Tabla de horarios
            hr
            table.table.timetable.table-condensed.table-striped
                thead
                    tr
                        th Hora
                        th Lunes
                        th Martes
                        th Miércoles
                        th Jueves
                        th Viernes
                        th Sábado
                        th Domingo
                tbody
                    +time_block_big_screen()
        .visible-xs.hidden-sm.hidden-md.hidden-lg
            .row
                .col-xs-12
                    .row
                        .col-xs-10.col-xs-offset-1
                            h3 Tabla de horarios
                    hr
                    - var days = ["Lunes", "Martes", "Miercoles", "Jueves", "Sabado", "Domingo"];
                    .row
                        .col-xs-3
                            ul.nav.nav-tabs.tabs-left
                                each name, index in days
                                    +xs_day_tab(name, index)
                        .col-xs-9
                            // Tab panes
                            .tab-content.fixed-max-height
                                each name, index in days
                                    if (index ==0)
                                        div.tab-pane.active(id=name.toLowerCase())
                                            h2=name
                                            +time_block_small_screen(index)
                                    else
                                        div.tab-pane(id=name.toLowerCase())
                                            h2=name
                                            +time_block_small_screen(index)
                        .clearfix

