extends pug_content/templates/main_template

prepend title
    | Editar perfil

block content
    form
        .col-xs-12
            fieldset
                legend Información personal
                .form-group
                    label(for="first_name") Nombre(s)
                        span.glyphicon.glyphicon-asterisk.text-danger(data-toggle="tooltip", title=tooltip_text)
                    input(type="text", required=true).form-control#first_name
                .form-group
                    label(for="last_name") Apellido(s)
                        span.glyphicon.glyphicon-asterisk.text-danger(data-toggle="tooltip", title=tooltip_text)
                    input(type="text", required=true).form-control#last_name
                .row
                    .col-xs-4.col-sm-12.col-md-4
                        .form-group
                            label(for="gender") Genero
                            select.form-control#gender
                                option &nbsp;
                                option Masculino
                                option Femenino
                    .col-xs-7.col-sm-12.col-md-8
                        .form-group
                            label(for="title") Titulo
                            select.form-control#title
                                option &nbsp;
                                option Sr.
                                option Sra.
                                option Srita.
                                option Ing.
                                option Lic.
                                option Dr.

                .row
                    .col-xs-4.col-sm-12.col-md-4
                        .form-group
                            label(for="birthday") Fecha de nacimiento
                            input(type="text", data-min-year="1930" required=false, data-large-mode="true", data-lang="es", data-format="d-m-Y", data-theme="birthday_picker_style").form-control#birthday
                    .col-xs-8.col-sm-12.col-md-8
                        .form-group
                            label(for="company") Empresa
                            input(type="text").form-control#company


                .row
                    .col-xs-1.col-xs-offset-9
                        button.btn.btn-danger.btn-lg Cancel
                    .col-xs-1.col-xs-offset-1
                        button.btn.btn-primary.btn-lg Submit
